@mixin svg-wrap() {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}
@mixin svg() {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
