@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(900);

// Neat Breakpoints
$tablet: new-breakpoint(max-width 860px 8);
$mobile: new-breakpoint(max-width 568px 4);
