// .coverImg {
//   width: 100vw;
//   height: 250px;
//   margin-left: -2.5vw;
// }
// @media (max-width:768px) {
//   .coverImg {
//     width:105%;
//     height: 25vh;
//   }
// }
// @media (min-width:1200px) {
//   .coverImg {
//     height: 40vh;
//     margin-left: -11vw;
//   }
// }
// @media (min-width:1600px) {
//   .coverImg {
//     margin-left: -23vw;
//   }
// }

.coverImg {
  width: 100vw;
  height: 30vh;
  margin-left: -2.5vw;

  @include media($mobile) {
    height: 12vh;
  }
  @media (min-width:570px) and (max-width:800px) {
    height: 25vh;
  }
  @media (min-width:1200px) {
    height: 40vh;
    margin-left: -6vw;
  }
  @media (min-width:1300px) {
    height: 40vh;
    margin-left: -11vw;
  }
  @media (min-width:1400px) {
    height: 40vh;
    margin-left: -13vw;
  }
  @media (min-width:1600px) {
    height: 40vh;
    margin-left: -21vw;
  }
}

.intro {
  @include span-columns(10);
  @include shift(1);

  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
  }
}
  .intro__opening {
    font-weight: 900;
    font-size: 3em;
    line-height: 1.1;
    margin-top: 7vh;
    p {
      text-align: center;
    }
    em {
      font-weight: 200;
      font-style: normal;
    }
    strong {
      font-weight: 900;
    }
    @include media($tablet) {
      font-size: 2em;
    }
    @include media($mobile) {
      font-size: 1.5em;
    }

  }

.event {
  @include span-columns(10);
  @include shift(1);
  margin-top: 6vh;
  margin-bottom: $base-spacing*4;
  text-align: center;

  @include media($tablet) {
    @include span-columns(8);
    @include shift(0);
    margin-top: $base-spacing*2;
    margin-bottom: $base-spacing*3;
  }
}
  .event__date {
    font-size: 1.3em;
    line-height: 1.1em;
    font-weight: 600;
    color: $color-secondary;
  }
  .event__callout a {
    // font-weight: bold;
    padding-bottom: .2em;
    border-bottom: 1px solid $color-secondary;
  }

.home__callout {
  @include span-columns(6);
  @include shift(3);
  text-align: center;

  a {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-bottom: $base-spacing;
  }

  @include media($tablet) {
    @include span-columns(6);
    @include shift(1);
  }
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
  }
}
